*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
}

.container {
  inline-size: clamp(300px, 100%, 500px);
  margin-inline: auto;
  position: relative;
}

.container .image-carousel {
  position: relative;
  inline-size: 100%;
  block-size: 30vh;
  min-block-size: 300px;
  display: flex;
  overflow: hidden;
}

.container .image-carousel img {
  position: absolute;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  transition: opacity .5s ease-in;
}

.container .prev-btn,
.container .next-btn {
  inline-size: 40px;
  block-size: 40px;
  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  outline: none;
  border: none;
  background-color: transparent;
}

.container .prev-btn:hover::before,
.container .next-btn:hover::before {
  border-color: #333333;
}

.container .prev-btn::before,
.container .next-btn::before {
  content: '';
  cursor: pointer;
  inline-size: 20px;
  block-size: 20px;
  position: absolute;
  inset-block-start: 25%;
  border-inline-start: 2px solid #cccccc;
  border-block-start: 2px solid #cccccc;
  transition: border-color .3s ease-in-out;
}

.container .prev-btn {
  inset-inline-start: 0;
}

.container .prev-btn::before {
  inset-inline-start: 30%;
  transform: rotate(-45deg);
}

.container .next-btn {
  inset-inline-end: 0;
}

.container .next-btn::before {
  inset-inline-end: 30%;
  transform: rotate(135deg);
}

.container .linenav {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 100%;
  padding-inline: 16px;
  padding-block: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
